.joy {
	position: relative;
	background: url('dist/images/joy-bg.jpg') no-repeat;
	width: 100%;
	text-align: center;
	padding: 90px 0 50px;
	font-family: @font-thin;
	color: #FFF;
	font-size: 18px;
	background-size: cover;

	.title {
		margin-bottom: 40px;

		&::before {
			content: '●';
			font-size: 20px;
			color: #000;
			position: absolute;
			top: 40px;
			left: 49.5%
		}
	}

	.joy-link {
		border: 1px solid #0f0c0e;
		background: #FFF;
    	padding: 5px 20px;
    	font-family: @font-thin;
    	font-size: 18px;
    	color: #0f0c0e;
    	text-decoration: none;
    	.border-radius ();
    	.transition(all 0.3s ease);

    	&:hover {
    		color: #FFF;
    		background: #0f0c0e;
    	}
	}

	.box-participe {
		display: none;
	}

	.lightForm {
		display: none;
		background: url('dist/images/formulario.jpg') no-repeat;
		background-size: cover;
		position: fixed;
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
		z-index: 2;
	}

	.box {
		width: 60vw;
		max-width: 600px;
		height: 70vh;
		position: fixed;
		padding: 70px;
		z-index: 3;
		top: 0;
		overflow: hidden;
		border: 3px solid #ccc;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		background-color: rgba(255,255,255,0.5);

		h2 {
			text-transform: uppercase;
			font-family: @font-bold;
			font-size: 2.5rem;
		}

		.close {
			position: fixed;
		    z-index: 12;
		    top: 2%;
		    right: 4%;
		    cursor: pointer;
		    -webkit-transition: all .3s ease;
		    -moz-transition: all .3s ease;
		    -ms-transition: all .3s ease;
		    -o-transition: all .3s ease;
		    color: #fff;

		    &::before {
		    	font-family: 'fontello';
				font-size: 40px;
				content: '\e801';
		    }

		    &:hover {
		    	color: #000;
		    }
		}
	}

	.regulamento {
		display: none;
		position: fixed;
		z-index: 3;
		background-color: #fff;
		color: #000;

		h2 {
			margin-bottom: 30px;
		}

		.close {
		    color: #000;

		    &:hover {
		    	color: #ccc;
		    }
		}
	}

	.formulario {
		display: none;

		.description {
			width: 65%;
    		margin: 20px auto;
    		color: #000;

    		a {
    			color: #F00;
    		}
		}

		.content {
			text-align: left;
			color: #000;
			font-size: 0.8em;    
			height: 55vh;
    		overflow: hidden;
		}

		input, textarea{
			background: transparent;
			border: 1px solid #000;
			resize: none;
			width: 95%;
			padding: 5px;
			margin-bottom: 15px;
		}

		input[type="checkbox"] {
			width: inherit;
		}

		textarea {
			height: 7vh;
		}

		input[type="submit"] {
			background: #0066ad;
			width: auto;
			font-family: @font-bold;
			font-size: 20px;
			color: #FFF;
			border: none;
			padding: 5px 30px;
			cursor: pointer;
			.transition(all 0.3s ease);
			transform: translateX(-50%);
			left: 50%;
			position: relative;

			&:hover {
				background: #000;
				color: #FFF;
			}
		}
	}
}

@media (max-width: 750px){
	.formulario {
		.description {
			widht: 100%;
		}
	}
	.mobile {
		.joy {
			height: 70%;
		}
	}
}

@media (max-width: 450px){
	.joy {
		.box {
			width: 90%;
			height: 100%;

			h2 {
				padding: 40px 0 0;
			}

			input[type="submit"] {
				margin-top: 25px;
			}

			.close {
				top: 12%;
    			right: 15%;
			}
		}

		.regulamento {
			font-size: 1rem;
			
			h2 {
				font-size: 1.8rem;
			}
		}
	}
}

@media (min-width: 750px){
	.box {
		.contatos {
			display: flex;

			label, p{
				width: 46%;

				&:first-child {
					padding-right: 5%;
				}
			}
		}
	}
}